.footer {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
    font-size: 14px;
    color: #D9DBE1;
    border-top: 1px solid #e5e7eb;
    background-color: #201B21;
    flex-wrap: wrap;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
  }
  
  .footer-logo {
    width: 24px;
    height: 24px;
  }
  
  .social-icons a {
    color: #D9DBE1;
    margin-left: 10px;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ffffff;
  }
  
  .footer-center {
    text-align: center;
    flex: 1;
  }
  
  .footer-right {
    width: 100px; /* laisse vide ou mets un lien ici si besoin */
  }
  
  @media (max-width: 769px) {
    
  }
